#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Godot {{godot_version}}
Comment=Develop 2D and 3D multiplatorm games and interactive experiences.
Exec=env {{ godot_binary_path }}
Icon={{ godot_icon_path }}
Type=Application
StartupNotify=false
StartupWMClass=Godot
Categories=Utility;Development;IDE;
MimeType=text/plain;inode/directory;
Keywords=godot;godot-engine
