#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Unity Hub
Comment=Develop 2D and 3D multiplatorm games and interactive experiences.
Exec=env /home/{{ ansible_user_id }}/Apps/Unity/UnityHub.AppImage
Icon=/home/{{ ansible_user_id }}/Apps/Unity/unityhub.png
Type=Application
StartupNotify=false
StartupWMClass=UnityHub
Categories=Utility;Development;IDE;
MimeType=text/plain;inode/directory;
Keywords=unity;unity-hub;unity3d;unity2d;
